{% extends 'TournamentBundle:Default:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Verify round {{ round.roundNo }}for tournament {{ tournament.name }}</h2>
    </div>
    <div id="pairings">
        <div class="page-header row">
            <h1 class="col-md-10 col-lg-10 col-sm-10 col-xs-12">Pairings for round {{ round.roundNo }}</h1>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
                <a href="" class="btn btn-lg btn-success">Start round {{ round.roundNo }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12, col-md-12, col-sm-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Table No</td>
                        <td>Team name</td>
                        <td>Country</td>
                        <td>Club</td>
                        <td>Operations</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in round.tables %}
                        {% set alertClass = "" %}
                        {% if round.roundNo == 1 %}
                            {% if table.team2 and ((table.team1.teamCountry != 'Poland' and table.team1.teamCountry == table.team2.teamCountry) or (table.team1.teamClub == table.team2.teamClub)) %}
                                {% set alertClass = "pairing_alert" %}
                            {% endif %}
                        {% endif %}
                        <tr class="{% if loop.index % 2 == 0 %}table_row_even{% else %}table_row_odd{% endif %}">
                            <td class="table_no {{ alertClass }}" rowspan="2">{{ table.tableNo }}</td>
                            <td>{{ table.team1.teamName }}</td>
                            <td>{{ table.team1.teamCountry }}</td>
                            <td>{{ table.team1.teamClub }}</td>
                            <td>
                                <div class="row operations">
                                {{ form_start(switchForms[table.tableNo][1]) }}
                                    Switch with team
                                {{ form_widget(switchForms[table.tableNo][1].targetTeamNo, {'attr': {'class': 'form-control'}}) }}
                                    on table
                                {{ form_widget(switchForms[table.tableNo][1].targetTableNo, {'attr': {'class': 'form-control'}}) }}
                                {{ form_widget(switchForms[table.tableNo][1].submit, {'attr': {'class': 'btn btn-sm btn-default'}}) }}


                                {{ form_widget(switchForms[table.tableNo][1].sourceTableNo) }}
                                {{ form_widget(switchForms[table.tableNo][1].sourceTeamNo) }}
                                {{ form_end(switchForms[table.tableNo][1]) }}
                                </div>
                            </td>
                        </tr>
                        <tr class="{% if loop.index % 2 == 0 %}table_row_even{% else %}table_row_odd{% endif %}">
                            {% if (table.team2) %}
                                <td>{{ table.team2.teamName }}</td>
                                <td>{{ table.team2.teamCountry }}</td>
                                <td>{{ table.team2.teamClub }}</td>
                                <td>
                                    <div class="row operations">
                                        {{ form_start(switchForms[table.tableNo][2]) }}
                                        Switch with team
                                        {{ form_widget(switchForms[table.tableNo][2].targetTeamNo, {'attr': {'class': 'form-control'}}) }}
                                        on table
                                        {{ form_widget(switchForms[table.tableNo][2].targetTableNo, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_widget(switchForms[table.tableNo][2].submit, {'attr': {'class': 'btn btn-sm btn-default'}}) }}


                                        {{ form_widget(switchForms[table.tableNo][2].sourceTableNo) }}
                                        {{ form_widget(switchForms[table.tableNo][2].sourceTeamNo) }}
                                        {{ form_end(switchForms[table.tableNo][2]) }}
                                    </div>
                                </td>
                            {% else %}
                                <td colspan="4">&nbsp;</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}